cwd=/Users/smarti/Devel/qm3

export PYTHONPATH=$cwd:$PYTHONPATH

export QM3_OPENMM=/Users/smarti/Devel/openmm/dist_gnu/python
export QM3_LAMMPS=/Users/smarti/Devel/lammps
export QM3_PSI4=/Users/smarti/Devel/psi4/dist_gnu.py2/lib

export QM3_LIBSQM=$cwd/sqm.so
export QM3_LIBDFTD3=$cwd/dftd3.so
export QM3_LIBDFTD4=$cwd/dftd4.so
export QM3_LIBDFTB=$cwd/dftb.so
export QM3_LIBXTB=$cwd/xtb.so

export QM3_MPLOT3D=/usr/lib/python3/dist-packages/mpl_toolkits
export QM3_MPLOT3D=/Users/smarti/Library/Python/3.7/lib/python/site-packages/mpl_toolkits
