<html>
<head>
<style>
body { background-color: #fff7ae; font-family: monospace; font-size: 12pt; }
.form { font-family: monospace; font-size: 12pt; }
td { font-family: monospace; font-size: 12pt; }
.label{ width: 140px; }

a:link, a:visited { color: #0000ff; text-decoration: none; }
a:hover, a:active { background-color: #0000ff; color: #ffffff; }

.tooltip { position: relative; display: inline-block; }
.tooltip .tooltiptext { visibility: hidden; width: 780px; background-color: #cccccc; color: black; text-align: left; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; font-family: monospace; font-size: 10pt; }
.tooltip:hover .tooltiptext { visibility: visible; }
</style>
</head>
<body>
<script language="JavaScript">
var f_QM = false;
var f_MM = false;
var f_RR = false;
var f_QMcor = false;
var f_QMenv = false;
var c_RR = 0;
function __submit() {
	document.FORM.submit();
	return( true );
}
function __toggle_QM() {
	var i = document.getElementById( "d_QM" );
	if( f_QM ) {
		i.style.display = "none";
		f_QM = false;
	} else {
		i.style.display = "block";
		f_QM = true;
	}
}
function __toggle_MM() {
	var i = document.getElementById( "d_MM" );
	if( "{{qm_cor}}" == "none" ) {
		if( f_MM ) {
			i.style.display = "none";
			f_MM = false;
		} else {
			i.style.display = "block";
			f_MM = true;
		}
	}
}
function __toggle_RR() {
	var i = document.getElementById( "d_RR" );
	if( f_RR ) {
		i.style.display = "none";
		f_RR = false;
	} else {
		i.style.display = "block";
		f_RR = true;
	}
}
function __toggle_Todo() {
	var itm = new Array();
	itm.push( document.getElementById( "d_fire" ) );
	itm.push( document.getElementById( "d_lang" ) );
	itm.push( document.getElementById( "d_mode" ) );
	for( var i = 0; i < itm.length; i++ ) itm[i].style.display = "none";
	switch( document.FORM.Todo.value ) {
		case "min_fire":
			itm[0].style.display = "block";
			break;
		case "dyn_lang":
			itm[1].style.display = "block";
			break;
		case "nor_mode":
			itm[2].style.display = "block";
			break;
	}
}
function __new_rest() {
	var i = document.FORM.RRknd.value;
	var p = document.getElementById( "d_RR" );
	var n = document.createElement( "DIV" );
	n.id = "RRitm_" + c_RR;
	n.style = "border-color: red; border-style: solid; border-width: 2px; margin-bottom: 5px; margin-top: 5px; margin-right: 10px;";
	var b = "<table border=\"0\"><tr><td class=\"label\"><input type=\"button\" value=\"&nbsp;Remove&nbsp;\" onclick=\"__del_rest(" + c_RR + ");\" class=\"form\"></td><td><table border=\"0\">";
	switch( i ) {
		case "Distance":
			b += "<tr><td class=\"label\">I,J:</td><td><input name=\"RR_" + c_RR + "_i\" type=\"text\" size=\"10\" class=\"form\">&nbsp;&nbsp;<input name=\"RR_" + c_RR + "_j\" type=\"text\" size=\"10\" class=\"form\"></td></tr><input name=\"RR_" + c_RR + "_t\" type=\"hidden\" value=\"dst\">";
			break;
		case "Angle":
			b += "<tr><td class=\"label\">I,J,K:</td><td><input name=\"RR_" + c_RR + "_i\" type=\"text\" size=\"10\" class=\"form\">&nbsp;&nbsp;<input name=\"RR_" + c_RR + "_j\" type=\"text\" size=\"10\" class=\"form\">&nbsp;&nbsp;<input name=\"RR_" + c_RR + "_k\" type=\"text\" size=\"10\" class=\"form\"></td></tr><input name=\"RR_" + c_RR + "_t\" type=\"hidden\" value=\"ang\">";
			break;
		case "Antisymmetric":
			b += "<tr><td class=\"label\">I,J - K,L:</td><td><input name=\"RR_" + c_RR + "_i\" type=\"text\" size=\"10\" class=\"form\">&nbsp;&nbsp;<input name=\"RR_" + c_RR + "_j\" type=\"text\" size=\"10\" class=\"form\">&nbsp;&nbsp;<input name=\"RR_" + c_RR + "_k\" type=\"text\" size=\"10\" class=\"form\">&nbsp;&nbsp;<input name=\"RR_" + c_RR + "_l\" type=\"text\" size=\"10\" class=\"form\"></td></tr><input name=\"RR_" + c_RR + "_t\" type=\"hidden\" value=\"mul\">";
			break;
	}
	b += "<tr><td class=\"label\">Ref:</td><td><input name=\"RR_" + c_RR + "_r\" type=\"text\" size=\"10\" class=\"form\"></td></tr>";
	b += "<tr><td class=\"label\">Kumb:</td><td><input name=\"RR_" + c_RR + "_u\" type=\"text\" size=\"10\" class=\"form\"></td></tr>";
	b += "</table></td></tr></table>";
	n.innerHTML = b;
	p.appendChild( n );
	c_RR++;
}
function __del_rest( w ) {
	var p = document.getElementById( "RRitm_" + w );
	p.parentNode.removeChild( p );
}
</script>
<form name="FORM" method="post" action="/mkinput">
<center>
<table border="0" width="100%">
<tr>
<td align="left"><a href="/editor" target="_blank">Editor</a></td>
<td align="right"><input type="button" value="&nbsp;Build!&nbsp;" onclick="__submit();" class="form"></td>
</tr>
</table>
</center>
<hr>
<table boder="0">
<tr><td class="label">Molecule:</td><td>{{!pdb}}</td></tr>
</table>
<hr>
[<a onclick="__toggle_QM();">&nbsp;QM&nbsp;</a>]<br>
<div id="d_QM" style="display: none;">
<table border="0">
<tr><td class="label">Engine:</td><td><select name="QMeng" class="form"><option value="--">&nbsp;</option>{{!qm_eng}}</select></td></tr>
<tr><td class="label" style="display: {{!qm_chg}};">Selection:</td><td>
<div class="tooltip">
<textarea name="QMsel" rows="2" cols="40" class="form" style="display: {{!qm_chg}};">{{!qm_sel}}</textarea>
<pre class="tooltiptext"> *            all atoms
 int          atom number
 int-int      range of atom numbers
 str:int      residue number (int) from chain (str)
 str:int-int  range of residue numbers from chain (str)
 str/int/lbl  atom label (lbl) from residue number (int) of chain (str)
 str:int@rad  selection by residue around radii (rad) of residue number (int) of chain (str)
 not          found at any position negates the resulting selection</pre>
</div>
</td>
</tr>
<tr><td class="label" style="display: {{!qm_env}};">Environment:</td>
<td>
<div class="tooltip">
<textarea name="QMenv" rows="2" cols="40" class="form" style="display: {{!qm_env}};"></textarea>
<pre class="tooltiptext"> *            all atoms
 int          atom number
 int-int      range of atom numbers
 str:int      residue number (int) from chain (str)
 str:int-int  range of residue numbers from chain (str)
 str/int/lbl  atom label (lbl) from residue number (int) of chain (str)
 str:int@rad  selection by residue around radii (rad) of residue number (int) of chain (str)
 not          found at any position negates the resulting selection</pre>
</div>
</td></tr>
<tr><td class="label" style="display: {{!qm_cor}};">Cartesians:&nbsp;</td>
<td><textarea name="QMcor" rows="20" cols="40" class="form" style="display: {{!qm_cor}};"></textarea></td></tr>
</table>
</div>
<hr>
[<a onclick="__toggle_MM();">&nbsp;MM&nbsp;</a>]<br>
<div id="d_MM" style="display: none;">
<table border="0">
<tr><td class="label">Engine:</td><td><select name="MMeng" class="form"><option value="--">&nbsp;</option>{{!mm_eng}}</select></td></tr>
<tr><td>PBC (&#197;):&nbsp;</td><td>
<input name="box_X" type="text" value="" size="9" class="form" placeholder="&nbsp;X">
<input name="box_Y" type="text" value="" size="9" class="form" placeholder="&nbsp;Y">
<input name="box_Z" type="text" value="" size="9" class="form" placeholder="&nbsp;Z">
</td></tr>
</table>
</div>
<hr>
<table border="0">
<tr>
<td class="label">Active sel.:</td><td>
<div class="tooltip">
<textarea name="Selec" rows="2" cols="40" class="form">{{!qm_sel}}</textarea>
<pre class="tooltiptext"> *            all atoms
 int          atom number
 int-int      range of atom numbers
 str:int      residue number (int) from chain (str)
 str:int-int  range of residue numbers from chain (str)
 str/int/lbl  atom label (lbl) from residue number (int) of chain (str)
 str:int@rad  selection by residue around radii (rad) of residue number (int) of chain (str)
 not          found at any position negates the resulting selection</pre>
</div>
</td></tr>
</table>
</div>
<hr>
[<a onclick="__toggle_RR();">&nbsp;Restraints&nbsp;</a>]<br>
<div id="d_RR" style="display: none;">
<table border="0">
<tr><td class="label">Kind:</td><td><select class="form" name="RRknd">
<option>Distance</option>
<option>Angle</option>
<option>Antisymmetric</option>
</select>
<input type="button" value="&nbsp;Add&nbsp;" onclick="__new_rest();" class="form">
</td></tr>
</table>
</div>
<hr>
<table border="0">
<tr><td class="label">Action:</td><td><select name="Todo" onchange="__toggle_Todo();" class="form">
<option value="min_fire" selected>Minimize (FIRE)</option>
<option value="dyn_lang">Dynamics (Langevin: NVT)</option>
<option value="nor_mode">Normal Modes</option>
</select></td></tr>
</table>
<div id="d_fire" style="display: block;">
<table border="0">
<tr><td class="label">Steps:</td><td><input name="fire_stp" type="text" value="1000" size="10" class="form"></td></tr>
<tr><td class="label">Step Size:</td><td><input name="fire_siz" type="text" value="0.1" size="10" class="form" placeholder="&nbsp;&#197;"></td></tr>
<tr><td class="label">Printing:</td><td><input name="fire_prt" type="text" value="1" size="10" class="form"></td></tr>
<tr><td class="label">Gradient:</td><td><input name="fire_tol" type="text" value="1" size="10" class="form" placeholder="&nbsp;kJ/mol.&#197;"></td></tr>
</table>
</div>
<div id="d_lang" style="display: none;">
<table border="0">
<tr><td class="label">Steps:</td><td><input name="lang_stp" type="text" value="1000" size="10" class="form"></td></tr>
<tr><td class="label">Step Size:</td><td><input name="lang_siz" type="text" value="0.001" size="10" class="form" placeholder="&nbsp;ps"></td></tr>
<tr><td class="label">Printing:</td><td><input name="lang_prt" type="text" value="1" size="10" class="form"></td></tr>
<tr><td class="label">Gamma:</td><td><input name="lang_gam" type="text" value="50" size="10" class="form" placeholder="&nbsp;1/ps"></td></tr>
<tr><td class="label">Temperature:</td><td><input name="lang_tmp" type="text" value="300" size="10" class="form" placeholder="&nbsp;K"></td></tr>
</table>
</div>
<div id="d_mode" style="display: none;">
<table border="0">
<tr><td class="label">Temperature:</td><td><input name="mode_tmp" type="text" value="300" size="10" class="form" placeholder="&nbsp;K"></td></tr>
<tr><td class="label">Pressure:</td><td><input name="mode_pre" type="text" value="1" size="10" class="form" placeholder="&nbsp;atm"></td></tr>
<tr><td class="label">Masses:</td><td><input name="mode_mas" type="text" size="40" class="form" placeholder="&nbsp;#:g/mol"></td></tr>
</table>
</div>
</form>
</body>
</html>
