<html>
<head>
<link type="text/css" href="static/style.css" rel="stylesheet">
<script type="text/javascript" src="jsmol/JSmol.min.js"></script>
</head>
<body>
<script type="text/javascript">
jmol_isReady = function( applet ) { 
	Jmol._getElement( applet, "appletdiv" ).style.border = "1px solid red"; 
	Jmol.script( applet, "set platformSpeed 2" );
	Jmol.script( applet, "set measurementUnits ANGSTROMS" );
	Jmol.script( applet, "load /flushpdb" );
	Jmol.script( applet, "cpk 0.2; wireframe 0.1; select water; cpk off; wireframe 0.01" );
}

var hei = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
var wid = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

var Info = {
	width: wid - 20,
	height: hei - 20,
	color: "black",
	use: "HTML5",
	j2sPath: "jsmol/j2s",
	readyFunction: jmol_isReady,
	disableInitialConsole: false,
	allowJavaScript: true,
	debug: false
}

var jmol = Jmol.getApplet( "jmol", Info );
</script>
</body>
</html>
